/* WEAVE */
.smsavatar {width:55px;height:55px; background: var(--fond5);border: 1px solid var(--borderw);border-radius:var(--rad); }
.smsavatar img{width:55px;height:55px;border-radius:var(--rad);object-fit: cover;padding: 6px; width: 54px; height: 54px;opacity:0.8;}

.smscont:before {display:none!important;}
.wwpost {width: 678px; margin-left: 15px;}
.wwpost .smsonline, .wwpost .smsleft, .wwpost .threep, .wwpost .composter, .wwchat .smsonline, .wwchat .smsleft, .wwchat .threep, .wwchat .composter, .wwchat .smsalert, .wwpost .smsalert {display: none;}
.wwpost .forweave, .wwchat .forweave {width: auto;margin-left: 0;}
.wwpost .smsgrid, .wwchat .smsgrid {display: block; margin-left: 0;width: auto;}
.wuser, wtag, .lkf {font-family: var(--font3);font-size: 12px;text-transform: uppercase; font-weight: bold;}
.wwpost .smscont, .wwchat .smscont {width: 660px;border: none;background: transparent; padding: 0;margin: 0; border-radius: 0!important;}
.wpostimg {width: 100%; height: fit-content; overflow:hidden; position:relative; display:grid;justify-items: center;align-items: center;}
.wpostimg img {width:100%; object-fit: cover; position: relative;}
.wpostimg wtag {position:absolute;}
.ert {width: 100%; min-height: 55px; padding: 20px; display:flex; gap: 14px;}
.wwpost .smsbut po, .wwchat .smsbut po {opacity: 0.3; transition: all .5s ease;}
.wwpost .smsbut po:hover, .wwchat .smsbut po:hover {opacity:1; transition: all .5s ease;}
.wwpost po a, .wwchat po a {color: var(--forum) !important;}
.weavepost {background: var(--forum);border-bottom-left-radius: var(--rad2);border-bottom-right-radius: var(--rad2); overflow:hidden;}
.wwpost .wtime, .wwchat .wtime {background: var(--forum); padding: 5px 0;border-top-left-radius: var(--rad2); border-top-right-radius: var(--rad2);}
.ert a, .ert wtag, .wuser {background:var(--gradient); -webkit-background-clip: text; -webkit-text-fill-color: transparent!important;}
.wwpost .smsread, .wwchat .smsread {background: var(--fond7);}

.wwchat {width: 660px;}
.wwchat .smscont {max-height: 75px; overflow: hidden;}
.chatinvite {height: 60px;display: flex;gap: 4px;align-items: center;justify-content: center; background: var(--forum);border-bottom-left-radius: var(--rad2);border-bottom-right-radius: var(--rad2);}
.chatinvite i.cp {-webkit-animation: 1.5s infinite heartBeat; animation: 1.5s infinite rubberBand; color: var(--co2);}

.wprofile {background: var(--fond5); border: 1px solid var(--borderw); border-radius: var(--rad3); display: grid; grid-template: auto / 1fr 1.5fr; gap: 5px; padding: 20px;}
.wprofile .wtop {margin:-20px;grid-column: 1 / 3;}
.wphotos, .wme, .weave, .wsong, .wfollow, .wfollowing {background: var(--fond6);padding: 16px;}
.weave {display: flex; justify-content: space-between;}
.wme, .wphotos, .wsong, .wfriends {text-align: justify; border-radius: var(--rad3);}
.wfollow, .wfollowing {text-align: center; border-radius: var(--rad3);}
.weave .wicons i.cp {background: var(--fond5); border: 1px solid var(--borderw); border-radius: var(--rad); padding: 6px; margin: 2px;}
.wfond {position:relative; overflow:hidden;height: 200px;width: 100%;}
.wfond img {width: 100%; height: 100%; object-fit:cover; position:absolute; top:0; left:0; filter:grayscale(1);}
.wfond:after {content: ' '; background: var(--gradient2); width:100%; height:100%; position: absolute; top:0; left:0; opacity: 0.5;}
.wpro {display:grid; grid-template: auto / 1fr 1fr;align-items:center;margin: 0 20px;position: relative;top: -27px;}
.wpro .wuser {-webkit-text-fill-color: var(--txt)!important; line-height: 200%;} .wpro .wuser a {font-size: 20px;}
.wpro .wuser a, .wpro .wuser i {-webkit-text-fill-color: var(--header)!important;} .wpro .lkf { color: var(--header);}
.wpro .wuser span {font-size: 13px; font-weight:normal; text-transform: lowercase;font-family: var(--font0);}
.wpro wtag {background: var(--forum); border-radius: 3px; padding: 2px 4px 3px; display: flex; align-items:center;gap:4px;}
.lkf {display: flex; gap: 4px;align-self: flex-start;justify-self: flex-end; align-items: center;}
.wfeed {display: grid; grid-template: repeat(3, 1fr) / repeat(3, 1fr); width:100%; gap: 4px;}
.wfeed img {width:150px; height:150px; object-fit:cover; opacity: 0.5;transition: all .5s ease;}
.wfeed img:hover, .wsong:hover img {opacity: 0.8;transition: all .5s ease;}
.wleft {display: flex;flex-direction: column;gap: 6px;}
.wsong {position:relative; overflow:hidden; height: 80px;display: grid; align-items: center; font-size: 11px;}
.wsong img {height:100%; width:80px; object-fit: cover; position: absolute; top:0; right: 0;opacity: 0.5;transition: all .5s ease;}
.wsong span {position: relative; margin-right: 80px; text-align:right;}
.wstats {display: grid; grid-template: auto / 1fr 1fr; gap: 6px;}
