 .fgrad1b { opacity: 0.4; top: 0;left:0;z-index: 1; position: absolute; width: 100%; height: 150px; background: var(--gradient); 
 -webkit-mask-image: linear-gradient(to bottom,#000 0,#000 0%,transparent 100%);} 
 .fgrad1c{ opacity: 0.4; left:0;bottom: 0; z-index: 1; position: absolute; width: 100%; height: 150px; 
 background: var(--gradient); -webkit-mask-image: linear-gradient(to top,#000 0,#000 0%,transparent 100%); } 

 
 .fgrid1e{display: grid; grid-template-columns: 110px auto 110px; gap: 0px 15px; } 
 .fclan1{border-radius:var(--rad3);background:var(--fond4);border:1px solid var(--cadre);
 width:110px;height:110px;line-height:12px;overflow:hidden;}
 .fclan1b{width:110px;height:110px;display: grid; align-content: center;} 
 #icoclan1{background:linear-gradient(0deg,var(--co1), var(--co2));color:transparent;font-weight:800;
 background-clip:text;-webkit-background-clip:text;-moz-background-clip:text;-ms-background-clip:text;line-height:32px;font-size:32px;} 
 .clanname1{margin-top:5px;font-family:var(--font2);font-size:15px;} 
 cl{text-transform:uppercase;font-size:12px;font-weight:800;font-family:var(--font3);
  background:linear-gradient(0deg,var(--co1), var(--co2));color:transparent;font-weight:800;
 background-clip:text;-webkit-background-clip:text;-moz-background-clip:text;-ms-background-clip:text;} 
 
 .blocclan1{background:rgba(var(--fond100),0.2);border-radius:var(--rad3);padding:15px;width:auto;height:110px;overflow:hidden;
 display: grid;grid-template-columns: 1fr 1fr 1fr; gap: 12px 15px;} 
 .blocclan1 div{text-align:left;line-height:17px;position:relative;}
 .blocclan1 rep{font-size:12px;letter-spacing:-0.2px;font-weight:500;} 
 .blocclan1 champ, .blocclan1 champ2{padding:0px 5px;border-radius:var(--rad3);background:var(--fond4);
 border:1px solid var(--cadre);font-size:11px;font-weight:700;color:var(--co2);text-transform:uppercase;font-family:var(--font3);} 
 .blocclan1 champ2{color:var(--co1);} 

.clanimg1{width:110px;height:110px;display: grid; grid-template-columns: 1fr 1fr; gap: 10px 10px;} 
 .clanimg1 div{width:50px;height:50px;border-radius:var(--rad3);border:1px solid var(--cadre);padding:5px;} 
 .clanimg1 img{width:37px;height:37px;object-fit:cover;border-radius:var(--rad3);opacity:0.8;}
 
 
 .fclanong1{display: grid;grid-template-columns: 1fr 1fr 1fr;justify-content:center;width:100%;} 
.fmog1cb { grid-column: 1/4;width: auto;margin:15px 0px 0px 0px!important;} 
.fcog1cb{width: auto;height:auto;} 
.fnob{background:transparent!important;border:none!important;padding:0px!important;} 
.f1bc3{max-height:300px;height: 100%; overflow: auto;padding-right: 5px;} 
.fog1bc{text-align: center; display: flex; align-items: center; justify-content: center; position: relative;text-transform: uppercase;
 font-size: 13px; font-family: var(--font3);background:var(--gradient);color:transparent;
 font-weight:800;background-clip:text;-webkit-background-clip:text;-moz-background-clip:text;-ms-background-clip:text;} 
ooo{padding-right:5px;color:var(--txt)!important;}

.finfo1bc{background:var(--fond4);border:1px solid var(--cadre);
border-radius:var(--rad3);padding:15px;text-align:justify;line-height:130%;font-size:13px;} 

.fsect1{display:grid;grid-template-columns: 1fr; gap: 15px;} 
.fsect1 div{background:var(--fond4);border:1px solid var(--cadre);border-radius:var(--rad3);
padding:15px;text-align:justify;line-height:130%;font-size:13px;} 

.fmemb1{display:grid;grid-template-columns: 1fr 1fr; gap: 15px;} 
.fmemb1 div{background:var(--fond4);border:1px solid var(--cadre);border-radius:var(--rad3);padding:10px;text-align:justify;
line-height:120%;font-size:12px;} 
.finfoh1{position:relative;text-align:justify;height:56px;gap: 0px 8px; grid-template-columns: auto 46px;display:grid;} 
.finimg1{border:1px solid var(--white);width:46px;height:46px;border-radius:var(--rad);padding:5px;} 
.finimg1 img{mix-blend-mode: darken;width:34px;height:34px;border-radius:var(--rad);object-fit:cover;filter:grayscale(1);opacity:0.8;}
.finfoh1 pris, .finfoh1 resa, .finfoh1 libre{font-size:13px;position:absolute;right: 50px;top:0px;} 
.finfoh1 indispo{color:#8f8f8f} .finfoh1 resa{color:#ba9050} .finfoh1 libre{color:#65ad73} .finfoh1 pris{color:#ba5656}
.finfoh1 titar{background:var(--gradient);color:transparent;font-weight:900;background-clip:text;
-webkit-background-clip:text;-moz-background-clip:text;-ms-background-clip:text;line-height:16px;
text-transform:uppercase;font-size:13px;font-family:var(--font3);letter-spacing:-0.2px;} 
titar .mentiontag{padding:0px 2px;font-size:11px;text-transform:lowercase;} 
.fdesc1b{overflow:auto;max-height:56px;}


.fmore1{text-transform:uppercase;font-size:16px;font-weight:800;font-family:var(--font3);
background:bottom left/100% 1px no-repeat linear-gradient(90deg,var(--fond0),var(--fondco1),var(--fondco2),var(--fondco1),var(--fond0));
padding-bottom:5px;} 
.fhorsrp1{margin-top:15px;}
.fhorsrp1 div{width:auto;overflow:auto;max-height:130px;margin-top:15px;background:var(--fond4);
border:1px solid var(--cadre);border-radius:var(--rad3);padding:15px;text-align:justify;line-height:130%;font-size:13px;}

  /* PRELIENS UNIQUES --------------- */

.fgrad1d{opacity: 0.4; top: 0px; left: 0px; z-index: 1; position: absolute; width: 450px; height: 100%;
-webkit-mask-image: linear-gradient(to right,#000 0,#000 0%,transparent 100%);
background: linear-gradient(315deg,var(--fondco2),var(--fondco1));overflow:hidden;} 
.flgif1{left:0;top:0;position:absolute;width:450px;height:200px;
-webkit-mask-image: linear-gradient(to bottom,#000 0,#000 0%,transparent 100%);} 
.flgif1b{position:relative;background:linear-gradient(315deg,var(--fondco2),var(--fondco1));width:450px;
 height:200px;-webkit-mask-image: linear-gradient(to right,#000 0,#000 0%,transparent 98%);} 
.flgif1b img{width:480px;height:200px;object-fit:cover;opacity:0.5;filter:grayscale(1);}

.fgrid1f { display: grid; grid-template-columns: 290px auto;height:104px;margin-bottom:15px;gap:0px 15px;} 
.flyrics1{text-align:left;color:var(--txt);text-transform:lowercase;font-family:var(--font5);font-size:13px;
 line-height:130%;font-style:italic;height:104px;overflow:hidden;} 

.ftitco1{text-align:right;display:grid;align-items: center; justify-content: right;}
.fpl1img{grid-template-columns: 70px 70px 70px;gap:0px 15px; display:grid;margin-top:15px;} 
.fpl1img div{width:70px;height:70px;border-radius:var(--rad3);border:1px solid var(--cadre);padding:5px;}
.fpl1img div img{width:58px;height:58px;object-fit:cover;border-radius:var(--rad3);opacity:0.8;} 

.f2blocs{ display: grid; grid-template-columns: auto auto;gap:0px 15px;margin:15px 0px;}
.f2blocs div{max-height:300px;overflow:auto;background:var(--fond4);border:1px solid var(--cadre);
 border-radius:var(--rad3);padding:15px;text-align:justify;line-height:130%;font-size:13px;}
