#main.weave .pbarre2, #main.smss .pbarre2, #main.weave .allrep #cadre.firstpost .postprofile, #main.smss .allrep #cadre.firstpost .postprofile, #main.weave .signature_div, #main.smss .signature_div {display:none;}
#main.weave .post-top, #main.smss .post-top{margin-bottom:10px;}
#main.weave .allrep #cadre:not(.firstpost) .grd, #main.weave .allrep #cadre:not(.firstpost) fixpro, #main.weave .allrep #cadre:not(.firstpost) inteprofili, #main.weave .allrep #cadre:not(.firstpost) .postprofile-name, #main.weave .allrep #cadre:not(.firstpost) .pcontact, #main.weave .allrep #cadre:not(.firstpost) .postprofile-info,
#main.smss .allrep #cadre:not(.firstpost) .grd, #main.smss .allrep #cadre:not(.firstpost) fixpro, #main.smss .allrep #cadre:not(.firstpost) inteprofili, #main.smss .allrep #cadre:not(.firstpost) .postprofile-name, #main.smss .allrep #cadre:not(.firstpost) .pcontact, #main.smss .allrep #cadre:not(.firstpost) .postprofile-info{display:none;}
#main.weave .allrep #cadre:not(.firstpost) .post-top, #main.smss .allrep #cadre:not(.firstpost) .post-top{height:0px; padding:0; border:0; overflow:hidden;transition:.5s ease-in-out}
#main.weave .allrep #cadre:not(.firstpost):hover .post-top, #main.smss .allrep #cadre:not(.firstpost):hover .post-top{height:40px;transition:.5s ease-in-out}

#main.weave .allrep #cadre, #main.smss .allrep #cadre:not(.firstpost) {background: transparent;}
#main.weave .allrep #cadre:not(.firstpost) {width:70%; margin:0 auto;}
#main.weave .allrep #cadre.firstpost .postbody {margin-left:0!important;grid-column: 1/3!important;}
#main.weave .wwpost .postprofile {display:none;}
#main.weave .post:not(:has(.weavepost, .wprofile)) .postprofile {height: 75px;}
#main.weave .allrep .postbody, #main.smss .allrep #cadre:not(.firstpost) .postbody {background:transparent!important;padding: 0!important;}
#main.weave .maincontent:not(:has(.weavepost, .wprofile)), #main.smss #cadre:not(.firstpost) .maincontent {background: var(--forum);padding: 20px;border-radius: var(--rad3);margin-top: 8px;margin-bottom: 3px;}
#main.weave .allrep #cadre:not(.firstpost) .postbody{margin:0!important; background:var(--forum); border-radius: var(--rad4); padding:20px;}
#main.weave .post:has(.weavepost) .postbody {grid-column: 1/3;}
#main.weave .fa_dislike_list, #main.smss #cadre:not(.firstpost) .fa_dislike_list {background:var(--forum);}

#main.smss .allrep {display:grid;}
#main.smss .allrep #cadre:not(.firstpost) {margin:0;}
/* #main.smss .allrep #cadre:not(.firstpost), #main.weave .allrep #cadre:not(.firstpost) {background: transparent;} */
#main.smss .allrep #cadre:not(.firstpost) .cprofili, #main.weave .allrep #cadre:not(.firstpost) .cprofili{border:0; background:transparent; padding:0;width: fit-content;height: 100%;overflow:hidden;border-radius: var(--rad4) 0 0 var(--rad4);display:grid;place-items:center; padding:10px}
#main.smss .allrep #cadre:not(.firstpost) ava, #main.weave .allrep #cadre:not(.firstpost) ava, .smsavatar {width: 55px;height: 55px;background: var(--fond4);border: 1px solid var(--cadre);border-radius: var(--rad);}
#main.smss .allrep #cadre:not(.firstpost) ava img, #main.weave .allrep #cadre:not(.firstpost) ava img, .smsavatar img{border-radius: var(--rad);object-fit: cover;padding: 6px;width: 54px;height: 54px;opacity: 0.8;}
#main.smss .allrep #cadre:not(.firstpost) ava:hover look, #main.weave .allrep #cadre:not(.firstpost) ava:hover look {display: block; -webkit-transform: scale(1); -webkit-filter: grayscale(100%) brightness(80%) blur(0px);filter: grayscale(100%) brightness(75%) blur(0px);}
#main.smss .allrep #cadre:not(.firstpost) .postbody{margin:0!important; background:var(--forum); border-radius: var(--rad4); padding:20px;padding-right:40px;width: fit-content;}
#main.smss .allrep #cadre:not(.firstpost) .composter{display:flex!important;}
#main.smss .allrep #cadre:not(.firstpost).mymsg .post{grid-template: auto auto auto / 1fr auto;justify-items: end;}
#main.smss .allrep #cadre:not(.firstpost).mymsg .post-top {grid-row: 1/2;}
#main.smss .allrep #cadre:not(.firstpost).mymsg .postbody {grid-column: 1/2;grid-row: 2/3;text-align: right!important;}
#main.smss .allrep #cadre:not(.firstpost).mymsg .postprofile {grid-column: 2/3;grid-row: 2/3;}
.mymsg .composter {justify-content: flex-end;}

.wprofile {background: var(--forum); border: 1px solid var(--cadre); border-radius: var(--rad4); display: grid; grid-template: auto / 1fr 1.5fr; gap: 5px; padding: 20px;}
.wprofile .wtop {margin:-20px;grid-column: 1 / 3;}
.wphotos, .wme, .weave, .wsong, .wfollow, .wfollowing {padding: 16px;}
.weavetop {display: flex; justify-content: space-between;padding:16px;}
.wme, .wphotos, .wsong, .wfriends {text-align: justify; border-radius: var(--rad3);}
.wfollow, .wfollowing {text-align: center; border-radius: var(--rad3);background: var(--fond4);}
.weave .wicons i.cp {background: var(--fond4); border: 1px solid var(--borderw); border-radius: var(--rad); padding: 6px; margin: 2px;}
.wfond {position:relative; overflow:hidden;height: 200px;width: 100%;}
.wfond img {width: 100%; height: 100%; object-fit:cover; position:absolute; top:0; left:0; filter:grayscale(1);}
.wfond:after {content: ' '; background: var(--gradient2); width:100%; height:100%; position: absolute; top:0; left:0; opacity: 0.5;}
.wpro {display:grid; grid-template: auto / 1fr 1fr;align-items:center;margin: 0 20px;position: relative;top: -27px;}
.wpro .wuser {-webkit-text-fill-color: var(--txt)!important; line-height: 200%;} .wpro .wuser a {font-size: 20px;}
.wpro .wuser a, .wpro .wuser i {-webkit-text-fill-color: var(--header)!important;} .wpro .lkf { color: var(--header);}
.wpro .wuser span {font-size: 13px; font-weight:normal; text-transform: lowercase;font-family: var(--font0);}
.wpro wtag {background: var(--forum); border-radius: 3px; padding: 2px 4px 3px; display: flex; align-items:center;gap:4px;}
.lkf {display: flex; gap: 4px;align-self: flex-start;justify-self: flex-end; align-items: center;}
.wfeed {display: grid; grid-template: repeat(3, 163px) / repeat(3, 163px); width:100%; gap: 4px;}
.wfeed img {width:100%; height:100%; object-fit:cover; opacity: 0.5;transition: all .5s ease;}
.wfeed img:hover, .wsong:hover img {opacity: 0.8;transition: all .5s ease;}
.wleft {display: flex;flex-direction: column;gap: 6px;}
.wsong {position:relative; overflow:hidden; height: 80px;display: grid; align-items: center; font-size: 11px;background:var(--fond4);}
.wsong img {height:100%; width:80px; object-fit: cover; position: absolute; top:0; right: 0;opacity: 0.5;transition: all .5s ease;}
.wsong span {position: relative; margin-right: 80px; text-align:right;}
.wstats {display: grid; grid-template: auto / 1fr 1fr; gap: 6px;}
.chatinvite {height: 60px;display: flex;gap: 4px;align-items: center;justify-content: center; background: var(--forum);border-bottom-left-radius: var(--rad2);border-bottom-right-radius: var(--rad2); border:0;}
.chatinvite i.cp {-webkit-animation: 1.5s infinite heartBeat; animation: 1.5s infinite rubberBand; color: var(--co2);}
.smscont:before {display:none!important;}
.wwpost {width: 100%;}
.wwpost .forweave, .wwchat .forweave {width: auto;margin-left: 0;}
.wwpost .smsgrid, .wwchat .smsgrid {display: block; margin-left: 0;width: auto;}
.wuser, wtag, .lkf {font-family: var(--font3);font-size: 12px;text-transform: uppercase; font-weight: bold;}
.wwpost .smscont, .wwchat .smscont {width: 660px;max-height: fit-content;border: none;background: transparent; padding: 0;margin: 0; border-radius: 0!important;}
.wpostimg {width: 100%; height: fit-content; overflow:hidden; position:relative; display:grid;justify-items: center;align-items: center;}
.wpostimg img {width:100%; object-fit: cover; position: relative}
.wpostimg wtag {position:absolute;}
.ert {width: 100%; min-height: 55px; padding: 20px; display:flex; gap: 14px;}
.wwpost .smsbut po, .wwchat .smsbut po {opacity: 0.3; transition: all .5s ease;}
.wwpost .smsbut po:hover, .wwchat .smsbut po:hover {opacity:1; transition: all .5s ease;}
.wwpost po a, .wwchat po a {color: var(--forum) !important;}
.weavepost {background: var(--forum);border:0;border-radius: var(--rad4); overflow:hidden;}
.wwpost .wtime, .wwchat .wtime {background: var(--forum); padding: 5px 0;border-top-left-radius: var(--rad2); border-top-right-radius: var(--rad2);}
.ert a, .ert wtag, .wuser {background:var(--gradient); -webkit-background-clip: text; -webkit-text-fill-color: transparent!important;}
.wwpost .smsread, .wwchat .smsread {background: var(--fond7);}
