.descricat2 f5{text-align:lowercase;font-size:98%;display:inline-block;}
.titrecath h2{font-size:64px;font-family:var(--font3);letter-spacing:-4px;text-transform:uppercase;font-weight:700;background-clip:text;-webkit-background-clip:text;-moz-background-clip:text;-ms-background-clip:text;text-shadow:0 5px 15px var(--fond4);color:var(--fond0);-webkit-text-stroke:.5px var(--header);position:relative;bottom:-30px;text-align:center;z-index:0}
.fondcateh{backdrop-filter:var(--blur);overflow:hidden;background:var(--forum);border-radius:var(--rad4);padding:10px;margin:20px 0}
.cadrecateh{width:100%;height:100%;padding:20px 20px 0;border:1px solid var(--white);border-radius:var(--rad4)}
.gridcat1{position:relative;display:grid;grid-template: auto 40px 40px 1fr / 170px 1fr 120px;margin-bottom:20px;gap: 0 20px;}
.gradient-cate {grid-row: 1 / 5;display: grid;grid-template-columns:1fr;position: relative;}
  
.avacat1{position:absolute;width:100%;height:100%;border-radius:var(--rad4);border:1px solid var(--cadre);overflow: hidden;}
#avacat1{float:none!important;padding:0!important;position:relative;top:0;}
#avacat1 img{border-radius:var(--rad);display:block;width:48px;height:48px;padding:5px;border:1px solid var(--cadre);position:relative;z-index:1;background:var(--fond4);object-fit:cover}
.avacati1:hover{transform:rotate(-180deg)}
.avacati1{position:relative;z-index:2;transition:all .8s ease;width:48px;height:48px;}
.avasp1{position:absolute;z-index:1;top:0;left:0;width:100%;height:100%;}
.avasp1 img{width:100%;height:100%;object-fit:cover;filter:blur(1px) grayscale(100%);opacity:.1;mask-image: linear-gradient(-45deg, transparent 25%, 60%, black);}
.lastbloc1{padding:10px;border-radius:var(--rad4);text-align:left;height:78px;}
.lastit1{text-align:center;}
.lastit1 a{font-family:var(--font3);font-size:13px;color:var(--co1)!important;font-weight:800;letter-spacing:-.5px;text-transform:lowercase}
.lastsuj1::after{background:linear-gradient(90deg,var(--fond0),var(--fondco2),var(--fondco1),var(--fond0));content:"";position:absolute;top:0;left:0;height:1px;width:100%}
.lastsuj1{margin-top:2px;padding-top:6px;position:relative;text-transform:uppercase;font-size:10px;font-weight:700;line-height:14px;text-align:center;}
.lastsuj1 a{text-transform:lowercase;font-size:13px;font-family:var(--font5);font-weight:800;letter-spacing:0}
.headbloc {grid-row: 1/2;grid-column: 2/3;display: flex;justify-content: space-between;align-items: center;text-align:left;width:100%;margin-bottom:10px;}
.titcat1{font-weight:600;text-transform:uppercase;font-family:var(--font3)}
.titcat1 a{font-size:18px}
.stats-cate{display:flex;gap:10px;}
.stats-cate,.accesrap a,.sofocat2 a {text-transform:uppercase;font-size:11px;font-weight:600;}
.stats-cate ha,.accesrap a,.sofocat2 a{background:var(--fond4);border:1px solid var(--cadre);border-radius:var(--rad3);padding:5px;display: inline-block;}
.descricat2{grid-row:1/5;grid-column: 2/4;height:100%;display: grid;grid-template-columns: subgrid;grid-template-rows: subgrid;gap: 0 20px;}
.descrr{grid-row: 2/4;max-height: 75px;overflow: auto;text-align: justify;padding:0 15px;}
.fondcateh:not(#c1,#c3) .gridcat1:has(.sofocat2:empty){grid-template: 1fr 40px 40px 40px/ 170px 1fr 120px;}
.fondcateh:not(#c1,#c3) .gridcat1:has(.sofocat2:empty) .descrr{grid-row: 2 / 5;grid-column:1/2;height: 95%;}
.sofocat2{grid-row:4/5;grid-column: 2/3;}
.sofocat2, .accesrap{position:relative;display:flex;flex-wrap:wrap;flex-end;align-items: flex-end;gap:4px;margin-top: 10px;}
.catlieu1{grid-row: 1/5;grid-column: 3/4;border:1px solid var(--cadre);width:120px;height:100%;border-radius:var(--rad2);}
.cl1{background:var(--fond2);border-radius:var(--rad2);width:100%;height:100%;position:relative;}
.cl1 img{width:100%;height:100%;object-fit:cover;position:relative;opacity:.5;-webkit-filter:grayscale(100%);border-radius:var(--rad2);-webkit-transition:opacity .35s;transition:opacity .35s;filter:grayscale(100%)}
.cl1 *{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-transition:all .6s ease;transition:all .6s ease;}
.cl1:hover img{opacity:.8;-webkit-filter:grayscale(0%);filter:grayscale(0%)}
.cl1:hover .hey ms{-webkit-transform:translateY(-50%);transform:translateY(-50%);opacity:0}
.lastbloc1, .sofocat2, .headbloc{z-index:2;}
a.forumtitle{border-bottom:1px solid var(--cadre);}
  
.forum_new .cl1:before, .cat_new .cl1:before{content:'';width:100%;height:100%;background:var(--gradientdl);display:block;position:absolute;top:0;left:0;z-index:1;border-radius:var(--rad2);opacity: 0.7;mask-image: linear-gradient(to bottom, transparent, black);mix-blend-mode: overlay;}
.forum_new .gradient-cate:before, .cat_new .gradient-cate:before{content:var(--icon_new);font-family:var(--icon_font);font-size:2.8em;line-height:100%;background:var(--gradient);color: transparent;background-clip: text !important;-webkit-background-clip: text !important;
  position:absolute; height:100%; display:grid;place-items: center;right: -16px;z-index: 2;}
.forum_new:has(a.forumtitle[href*="guild"]) .gradient-cate:before,
.cat_new:has(a.forumtitle[href*="guild"]) .gradient-cate:before {right: 30px;z-index: 3;}
.forum_new .avasp1:after, .cat_new .avasp1:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;
background:var(--gradientdl);border-radius:var(--rad2);mask-image: linear-gradient(-45deg,transparent 25%, 75%, black);opacity:0.7;}
.forum_new #avacat1 img, .cat_new #avacat1 img {filter:grayscale(0%);}

  
#invitebloc .cadrecateh{padding:0}
#c1 .cadrecateh, #c3 .cadrecateh {padding: 20px;}
#c1 .topiclist.forums,#c3 .topiclist.forums{display:grid;gap:0 20px;margin-bottom:-20px;}
#c1 .gridcat1:has(a.forumtitle[href*="guild"]),#c3 .gridcat1:has(a.forumtitle[href*="guidebook"]){position:relative;top: -20px;display:flex;flex-direction:column;gap: 20px;width: calc(100% + 20px);height: calc(100% + 20px);overflow:hidden;margin-bottom:0;background:var(--gradient);padding:40px}
#c1 .gridcat1:has(a.forumtitle[href*="guild"]) .forum-sousforum,#c3 .gridcat1:has(a.forumtitle[href*="guidebook"]) .forum-sousforum,#c3 .gridcat1:has(a.forumtitle[href*="guidebook"]) .gradient-cate{display:none}
#c1 .gridcat1:has(a.forumtitle[href*="guild"]) .headbloc,#c3 .gridcat1:has(a.forumtitle[href*="guidebook"]) .headbloc{position:relative;z-index:2;text-align:center!important;grid-row:1/2;grid-column:1/3}
#c1 .gridcat1:has(a.forumtitle[href*="guild"]) .descricat2,#c3 .gridcat1:has(a.forumtitle[href*="guidebook"]) .descricat2{display: flex;flex-direction: column;}
#c1 .descricat2,#c3 .descricat2{gap:0;grid-column: 2/3;}
#c1 .gridcat1:has(a.forumtitle[href*="guild"]) .descrr,#c3 .gridcat1:has(a.forumtitle[href*="guidebook"]) .descrr{position: relative;height:auto;color:rgba(var(--fond100),.9);font-weight:500;gap:20px}
#c1 .gridcat1:has(a.forumtitle[href*="guild"]) .titcat1 a b5,#c3 .gridcat1:has(a.forumtitle[href*="guidebook"]) .titcat1 a b5{color:rgba(var(--fond100),.9)!important}
#c1 .gridcat1:has(a.forumtitle[href*="guild"]) .titcat1:before,#c3 .gridcat1:has(a.forumtitle[href*="guidebook"]) .titcat1:before{display:block;font-family:game-icons;font-weight:800;background-clip:text;font-size:20px;line-height:200%;color:rgba(var(--fond100),.9)}
#c1 .gridcat1:has(a.forumtitle[href*="guild"]) .imgbacguide,#c3 .gridcat1:first-of-type .imgbacguide{position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;mix-blend-mode:darken;opacity:.3}
#c1 .gridcat1:not(:has(a.forumtitle[href*="guild"])) .sofocat2,#c3 .gridcat1:not(:has(a.forumtitle[href*="guidebook"])) .sofocat2, #c5 .gridcat1:not(:has(a.forumtitle[href*="vicio-mundo"])) .sofocat2{display:none}{display:none}
a.forumtitle[href*="guild"], a.forumtitle[href*="guidebook"]{border:none;}
#c1 .accesrap,#c3 .accesrap, #c5 .accesrap{grid-row: 4/5;}
  
#c3 .topiclist.forums{grid-template:repeat(3,auto) / 390px auto}
#c3 .gridcat1:has(a.forumtitle[href*="guidebook"]){left:-20px;grid-row:1/5;grid-column:1/2;border-radius:var(--rad4) 0 0 var(--rad4);}
#c3 .gridcat1:has(a.forumtitle[href*="guidebook"]) .titcat1:before{content:'\EC78'}
#c3 .gridcat1:has(a.forumtitle[href*="guidebook"]) .lastbloc1{display:none}
#c1 .gridcat1:has(a.forumtitle[href*="guild"]) .headbloc, #c3 .gridcat1:has(a.forumtitle[href*="guidebook"]) .headbloc{display:grid;justify-content: center;}
#c3 .gridcat1:not(:has(.accesrap)) .descrr{height:100%;grid-row: 2/5;}
#c1 .gridcat1:has(a.forumtitle[href*="guild"]) .accesrap, #c3 .gridcat1:has(a.forumtitle[href*="guidebook"]) .accesrap{margin-top:20px;justify-content: end;}
#c1 .gridcat1:not(:has(a.forumtitle[href*="guild"])), #c3 .gridcat1:not(:has(a.forumtitle[href*="guidebook"])) {grid-template: repeat(4, auto) / 170px 1fr;}

#c1 .topiclist.forums{grid-template:repeat(3,auto) / auto 390px}
#c1 .gridcat1:has(a.forumtitle[href*="guild"]){right:0;grid-row:1/4;grid-column:2/3;border-radius:0 var(--rad4) var(--rad4) 0;}
#c1 .gridcat1:has(a.forumtitle[href*="guild"]) .titcat1:before{content:'\EC80'}
#c1 .gridcat1:has(a.forumtitle[href*="guild"]) .gradient-cate {order: 3;display: flex;justify-content: center;gap:20px;}
#c1 .gridcat1:has(a.forumtitle[href*="guild"]) .lastbloc1 {background: var(--fond4);width: 170px;border: 1px solid var(--cadre);}
#c1 .gridcat1:has(a.forumtitle[href*="guild"]) .avacati1 {margin-top:0;}
#c1 .gridcat1:has(a.forumtitle[href*="guild"]) .avacat1{display:none}
#c1 .gridcat1:has(a.forumtitle[href*="guild"]) .descrr{max-height:none;}
  
#c5 .accesrap{grid-column: 1/3;}
